.container-form {
  margin-top: 4vh;
  /* font-weight: bolder;
  /* text-align: center; */
  /* margin-left: -30vh; */
  /* padding-left: 1vh; */ 
  background-color: rgba(0, 0, 0, 0);
  color: rgb(0, 0, 0);
}

/* .form {
  margin-top: 2vh;
} */
/* .container-homePage {
  background-image: url("truck.jpg");
  background-position: center;
} */

.container-homePage {
  background-image: url("truck11.png");
  background-position: center;
  text-align: center;
  color:white;
}

.applyNow {
  text-align: center;
  height: 4.5vh;
  border-radius: 5px;
  margin-bottom: 2vh;
  /* background-color: rgb(0, 102, 255); */
  background-color: #000000d0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: white;
}

/* .container-navbar {
  margin-bottom: 2vw;
} */


.navbar {
  background-color: #000000d0;
  height: 7vh;
}

.container-blog {
  color: rgb(0, 0, 0);
  font-size: medium;
  /* color: white; */
  /* background: url('./340557.jpg') no-repeat center center fixed; */
  /* background: url('./340557.jpg'); */
  background-image: linear-gradient(to bottom, #000000d0 , rgb(255, 255, 255));
  /* background-color: rgb(25, 25, 77); */
  /* background-position: center; */
  background-position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  }

  .opportunityText {
    font-weight: bolder;
    font-size: 5vh;
    position: 'absolute'; 
    text-align:center;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  

.form-check [type=checkbox] {
  background: #333;
  border-radius: 50px;
  position: absolute;
}

.requestQuote {
  justify-content: center;
  margin-top: 2vh ;
}

.container-blog {
  justify-content: left;
}

.contactSubmitBtn, .registerSubmitBtn {
  /* font-family: Raleway-Bold; */
  font-size: 20px;
  line-height: 1.2;
  /* /* display: -webkit-box; */
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 150px;
  color: rgb(255, 255, 255);
  background-color: black;
  height: 55px;
  border-radius: 27px;
}

.registerSubmitBtn {
  /* background-color: black; */
  background-color: #000000d0;
}

.formLabel {
font-size: small;
}


.fader {
  text-align: center;
  animation: fadein 4s;
  -moz-animation: fadein 4s; /* Firefox */
  -webkit-animation: fadein 4s; /* Safari and Chrome */
  -o-animation: fadein 4s; /* Opera */
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}

.highlight {
  text-align: center;
  font-size: 3vh;
}